---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <title>{{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#3bb874">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="nalettes,palettes,colors,gwc,guyswhocode">
    <meta name="author" content="GuysWhoCode">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:url" content="{{ site.url }}/nalettes" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="public/logo/nalette-logo.jpg" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="{{ site.url }}/nalettes" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:title" content="{{ site.name }}" />
    <meta name="twitter:image" content="public/logo/nalette-logo.jpg" />

    <!-- Favicons  -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="apple-touch-icon" sizes="200x200" href="public/logo/nalette-logo.jpg">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="public/logo/nalette-logo.jpg" sizes="200x200">
    <meta name="msapplication-TileColor" content="#33bb77">
    <meta name="msapplication-TileImage" content="public/logo/nalette-logo.jpg">

    <!-- stylesheets -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
      <link rel="stylesheet" href="public/styles/semantic-ui-mansory.css">
      <link rel="stylesheet" href="public/styles/style.css">
  </head>
</head>
<body>
<br>
<div class="ui container">
  <div class="ui five wide column masonry flat grid">
      
    {% for palette in site.posts %}
    <div class="column">
      <div class="ui fluid card">
<!--         <div class="image">
          <img src="https://i5.walmartimages.ca/images/Large/463/3_r/6000191284633_R.jpg">
        </div> -->
        <div class="colors">
          {% for color in palette.colors %}
            <p class="color" style="background-color: {{color}};">{{color}}</p>
          {% endfor %}
        </div>
        <div class="extra content">
          <span class="right floated">
            {{ palette.categories }}
          </span>
          <span>
            <i class="eye icon"></i>
           {{ palette.title }}
          </span>
        </div>
      </div>

    </div>
    {% endfor %}
    </div>
  </div>

</body>
</html>