html {
	height: 100%;
}
body {
	font-family:'Ubuntu';
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container,
.row{
	height: 100%;
}
.palette-container{
	height: 100%;
}
.color-palette{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color:rgba(255,255,255,0.8);
	padding:0px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.palette .color{
	width:100%;
	margin:0px;
	text-align:center;
	padding:10px;
	font-size:14px;
	color:transparent;
	text-transform: uppercase;
}
.palette .color:hover{
	color:#fff;
}
.color-palette .name{
	color:#555;
	padding:10px 0px;
	margin:0px;
	text-align:center;
}
/* .container{
	margin:20% auto;
} */