<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#3bb874">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="nalettes,palettes,colors,gwc,guyswhocode">
	<meta name="author" content="GuysWhoCode">

	<!-- Open Graph -->
	<meta property="og:title" content="{{ site.name }}" />
	<meta property="og:url" content="{{ site.baseurl }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:image" content="public/logo/nalette-logo.jpg" />
	<meta property="og:site_name" content="{{ site.name }}" />
	<meta property="og:locale" content="en_US" />

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="{{ site.baseurl }}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:title" content="{{ site.name }}" />
	<meta name="twitter:image" content="public/logo/nalette-logo.jpg" />

	<!-- Favicons  -->
	<link rel="shortcut icon" href="favicon.png">
	<link rel="apple-touch-icon" sizes="200x200" href="public/logo/nalette-logo.jpg">
	<link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
	<link rel="icon" type="image/png" href="public/logo/nalette-logo.jpg" sizes="200x200">
	<meta name="msapplication-TileColor" content="#33bb77">
	<meta name="msapplication-TileImage" content="public/logo/nalette-logo.jpg">

	<!-- stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/grid.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
</head>
<body id="home">
	<header>
		<div class="intro">
			<div class="container">
				<h1>{{ site.name }}</h1>
				<p>{{ site.description }}</p>
			</div>
		</div>
	</header>

	<!-- palettes -->
	<div class="container">
		<div class="row color-palettes">
			{% for post in site.posts limit:100 %}
			<div class="col-xs-6 col-sm-3 col-md-2 color-palette-container">
				<div class="color-palette">
					<div class="palette">
						<p class="color" style="background-color: {{ post.tags[0] }};">{{ post.tags[0] }}</p>
						<p class="color" style="background-color: {{ post.tags[1] }};">{{ post.tags[1] }}</p>
					</div>
					<p class="name"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>	

	<!-- Footer -->
	{% include footer.html %}
</body>
</html>