<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#3bb874">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="sanz,jekyl,template,gwc,guyswhocode">
	<meta name="author" content="GuysWhoCode">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/grid.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
</head>
<body id="home">
	<header>
		<div class="intro">
			<div class="container">
				<h1>{{ site.name }}</h1>
				<p>{{ site.description }}</p>
			</div>
		</div>
	</header>

	<!-- palettes -->
	<div class="container">
		<div class="row color-palettes">
			{% for post in site.posts %}
			<div class="col-xs-6 col-sm-3 col-md-2 color-palette-container">
				<div class="color-palette">
					<div class="palette">
						{% for tag in post.tags %}
						<p class="color" style="background-color: {{ tag }};">{{ tag }}</p>
						{% endfor %}
					</div>
					<p class="name"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>	

	<!-- Footer -->
	{% include footer.html %}
</body>
</html>