<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - {{ site.name }}</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="{{ page.tags[0] }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ page.tags[0] }},{{ page.tags[1] }},color,palette,natural,design">
	<meta name="author" content="GuysWhoCode">


	<!-- Open Graph -->
	<meta property="og:title" content="{{ site.name }}" />
	<meta property="og:url" content="{{ site.baseurl }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:image" content="{{ site.baseurl }}/public/logo/nalette-logo.jpg" />
	<meta property="og:site_name" content="{{ site.name }}" />
	<meta property="og:locale" content="en_US" />

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="{{ site.baseurl }}" />
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta name="twitter:title" content="{{ site.name }}" />
	<meta name="twitter:image" content="{{ site.baseurl }}/public/logo/nalette-logo.jpg" />

	<!-- Favicons  -->
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
	<link rel="apple-touch-icon" sizes="200x200" href="{{ site.baseurl }}/public/logo/nalette-logo.jpg">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/public/logo/nalette-logo.jpg" sizes="200x200">
	<meta name="msapplication-TileColor" content="#33bb77">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/public/logo/nalette-logo.jpg">


	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/grid.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/palette.css">
	<style>
		body{	
			background: {{ page.tags[0] }}; 
			background: -webkit-linear-gradient({{ page.tags[0] }},{{ page.tags[1] }});
			background: -o-linear-gradient({{ page.tags[0] }},{{ page.tags[1] }});
			background: -moz-linear-gradient({{ page.tags[0] }},{{ page.tags[1] }});
			background: linear-gradient({{ page.tags[0] }},{{ page.tags[1] }});
		}
	</style>
</head>
<body>
	<div class="container">
		
		<a href="{{ site.baseurl }}/" class="home" title="Home"></a>
		<a href="http://github.com/guyswhocode/nalettes" class="contri" title="Contibute to Nalettes"></a>
		<div class="row">
			<div class="palette-container">
				<div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 color-palette">
					<div class="palette">
						{% for tag in page.tags %}
						<p class="color" style="background-color: {{ tag }};">{{ tag }}</p>
						{% endfor %}
					</div>
					<p class="name">{{page.title}}
						{% if page.previous %}
						<a href="{{ site.baseurl }}{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}"></a>
						{% endif %}
						{% if page.next %}
						<a href="{{ site.baseurl }}{{ page.next.url }}" class="next" title="{{ page.next.title }}"></a>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>